body{

}

a{
    color: inherit;
}
a:link{
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: inherit;
}
a:active{
    color: inherit;
    text-decoration: none;
}

a:visited{
    color: inherit;
    text-decoration: none;
}

