body{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
}

#header p{
    color: white;
}

#label_version{
    color: white;
    font-style: italic;
}

#main_title{
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    color: white;
    text-shadow: white 0 0 5px;

}

#page_name{
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: white;
    text-shadow: white 0 0 5px;
}

#WB_slogan{
    text-align: center;
}

.form_container{
    padding: 1em;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(249, 254, 255) 45%, rgba(255,255,255,1) 100%); 
    border-radius: 1em;
    border: black 1px solid;
    box-shadow: black 0 2px 5px -2px;
    box-shadow: inset rgba(167, 223, 255, 0.315) 0 10px 25px 6px;
}

.form_container button{
    padding: 1em;
    background-color: aquamarine;
    border-radius: 1em;
    border: white 1px solid;
    color: black;
}
.form_container button:hover{
    background-color: rgb(191, 255, 234);
}

.section_form{
}

.data_title{

}

.section_form h2{
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    text-transform: uppercase;
}

.button_erase_form {
    margin-left: 20px;
    background-color: aquamarine;
    transition-property: padding;
    transition-duration: all 2sec;
  }

  .button_erase_form:hover {
    padding: 20px;
  }
/* CSS FOR COMENT / CSS pour les datas */

  #afficher_data{
      overflow-y: scroll;
  }

/* CSS AFFICHAGE COMENTAIRE FONCTION SHOW_ALL_COMMENT */

  .show_comment_container{
      height: 550px;
      overflow-y: scroll;
  }
.comment_container{
    display: flex;
    flex-direction: column;
    box-shadow: black 0 2px 2px -1px,rgba(0, 0, 0, 0.411) 0 5px 5px -2px;
    padding: 0.8em;
    border-radius: 1em;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 45%, rgba(0,212,255,0.17128858379289214) 100%); 
    border: black solid  2px 1px;
    margin-top: 1em;
    text-transform: capitalize;
}

.comment_author{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-transform: capitalize;
}

.comment_title{
    font-size: larger;
    text-decoration: underline;
    font-weight: bold;
    text-transform: capitalize;
    text-transform: capitalize;
}

.comment_header{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.comment_body{
    border: black 1px solid;
    border-radius: 1em;
    background-color: white;
    box-shadow: inset black 0 1px 2px;
    padding: 1em;
    text-transform: capitalize;
}

.comment_date{
    font-style: italic;
  
}

/* CSS AFFICHAGE ARTICLE FONCTION SHOW_ALL_ARTICLE_THUMBNAIL */

.thumbnail_show_article_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail_article_container{
  display: inline-block;
  box-shadow: rgb(17, 0, 0) 0 2px 2px -1px,rgba(0, 0, 0, 0.411) 0 5px 5px -2px;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.253);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.774) 45%, rgba(0,212,255,0.17128858379289214) 100%); 
  border: black solid  2px 1px;
  margin:1em;
  text-transform: capitalize;
  max-width: 300px;
  cursor: pointer;
  position: relative;
  transition: all 1s;
}

.thumbnail_article_container:hover{
    box-shadow: rgba(0, 0, 0, 0.678) 0 15px 15px -2px;
    max-width: 305px;
    position: relative;
    bottom:6px;
}

.thumbnail_article_img_thumbnail{
    border-radius:  1em 1em 0 0;
    max-height: 200px;
    overflow: hidden;
    width: 100%;
    max-width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 0, 0, 0.322);
    padding:1em;
}

.thumbnail_article_container_body{
    text-align: center;
    padding: 0.1em;
    max-height: 320px;
    overflow: hidden;
 
}

.thumbnail_article_author{

    text-align: center;
  font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.thumbnail_article_title{
    padding: 0.2em;
    text-align: center;
  font-size: 2em;
  text-overflow: ellipsis;
    color: white;
    text-shadow: black 0 0 5px;
  font-weight: bold;
  text-transform: capitalize;
  text-transform: capitalize;
}

.thumbnail_article_header{
    border-radius:  1em 1em 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
  top:28px;
  background-color: rgba(255, 255, 255, 0.411);
  width: 100%;

}

.thumbnail_article_body{
    box-shadow: inset black 0 3.2px 6px -5px;
    border-radius: 0 0 1em 1em ;
    padding: 0.5em;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 0 0 2px;
  font-weight: 500;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-overflow: clip;
}

.thumbnail_article_date{
    font-style: italic;
    text-align: center;
    font-size: 0.7em;
}

/* CSS AFFICHAGE ARTICLE FONCTION SHOW_AN_ARTICLE */

.show_article_container{

}
.article_container{
    padding: 1em;
  box-shadow: rgb(29, 27, 27) 0 2px 2px -1px,rgba(0, 0, 0, 0.411) 0 5px 5px -2px;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.253);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.774) 45%, rgba(0,212,255,0.17128858379289214) 100%); 
  border: black solid  2px 1px;
  margin:1em;
  text-transform: capitalize;

}


.article_img1{
    margin: auto;
    max-width: 100%;
    margin:0.5em;
    box-shadow: black 0 0 5px;
}

.article_container_body{
    padding: 0.1em;
    background-color: white;
    box-shadow: inset rgba(0, 0, 0, 0.411) 0 0 5px;

width: 100%;
}

.article_author{
    padding: 0.5em;
    text-align: center;
  font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  color: white;
}

.article_title{
    box-shadow: white inset 0 2px 5px;
    border-radius:  1em ;
    background-color: rgba(255, 255, 255, 0.274);
text-align: center;
  font-size: 2.4em;
  text-overflow: ellipsis;
    color: white;
    text-shadow: black 0 0 5px;
  font-weight: bold;
  text-transform: capitalize;
  text-transform: capitalize;
}

.article_header{
    border-radius:  1em 1em 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
  top:28px;
  background-color: rgba(255, 255, 255, 0.411);
  width: 100%;
  align-items: center;

}

.article_body{
    box-shadow: inset black 0 3.2px 6px -5px;
    border-radius: 0 0 1em 1em ;
    padding: 0.5em;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 0 0 2px;
  font-weight: 500;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
flex-wrap: wrap;
    width: 100%;
 
}

.article_date{
    padding: 0.5em;
    font-style: italic;
    text-align: center;
    font-size: 1em;
    color: white;
}


#article_body{
    min-height: 500px;

}

.debug_source_item{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,213,255,1) 89%, rgba(255,245,184,1) 100%); 
    padding: 1em;
    border:1px white solid;
    border-radius: 1em;
}

.debug_source_item strong{
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: white 0 0 2px,black 0 0 1px;
}

.debug_source_item em{
    color: white;
    font-weight: bold;
    background-color: rgba(255, 246, 184, 0.589);
    padding: 0.2em;
    box-shadow: rgba(255,255,255,1);
    border-radius: 1em;
}

.debug_vardump{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,249,213,1) 74%, rgba(255,245,184,1) 100%); 
    max-height: 250px;
    overflow-y: scroll;
    box-shadow: rgb(255, 255, 255) 0 0 10px;
    padding: 1em;
    border-radius: 1em;
    border: white 1px solid;
}